:root{
    --blue:#2C7BE5;
}
/* MAIN */
/* SIDEBAR */
.sidebar{
position: sticky;
height: 100%;
z-index: 100;
top: 8rem;
margin-top: 8rem;

}
.menu{
    width: 15rem;
}
.menu-item img{
    height: 3rem;
    
}
.menu-item h3{
    transition:all 0.5 ease-in-out;
    font-size: 1.3rem !important;
}
.menu-item:hover h3{
color: var(--blue) !important;
/* font-weight: 400 !important; */
}
.google-playstore img{
    height: 4rem;
    width: 100%;
    object-fit: contain;
}
.menu-item::after{
    content: "";
    width: 100%;
    position: absolute;
    right:-2px !important;
    height: 100%;
    top: 0;
    border-right: 1px solid rgb(255, 255, 255);
}
.menu-item.active{
    color: var(--blue) !important;
    font-weight: 500 !important;
}
.menu-item.active::after{
    border-right: 3px solid var(--blue) !important;
}
/* main container */
.main-div{
    margin-left: 4rem;
    margin-right: 4rem;
}


/*  */
.main-container{
    margin-top: 8rem;

}
.header-banner{
    /* background-color: #0E74BB; */
    height: 20rem;
}
.header-banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* category-div */
.category-div img{
height: 5rem;
object-fit: contain;
}
.category-div .owl-stage-outer{
    height: 10rem !important;
}
/*  */
.store-logo{
    height: 5rem;
    width: 5rem;
    background-color: aliceblue;
}
.store-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.store-div{
    width: 20rem;
}
/* footer menu */
.footer-menu-div{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 500;
}
.footer-menu{
    text-align: center;
}
.footer-menu span{
    display: none;
    color: #0E74BB;
    padding-top: 0.3rem;
}
.footer-menu svg{
    height: 1.8rem;
    fill: rgb(165, 165, 165);
}
.footer-menu.active svg{
    fill: #0E74BB !important;
}
.footer-menu.active span{
    display: block;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-color: #F0F0F0;
      }
    .main-div{
        margin-left: 0;
        margin-right: 0;
        margin-top: 2.5rem;
    }
    .header-banner{
        height: 10rem;
    }
    .header-banner img{
        border-radius: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}